/* Container tổng */
.recruiter-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

/* Tiêu đề chính */
.recruiter-container h1 {
  font-size: 2rem;
  color: #011F82; /* Màu chủ đạo */
  text-align: center;
  margin-bottom: 20px;
}

/* Thanh tìm kiếm */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #6D92D0;
  border-radius: 5px;
  outline: none;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #6D92D0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  /* font-weight: bold; */
}

.search-bar button:hover {
  background-color: #6D92D0;
}

/* Bảng thông tin */
.recruiter-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
}

.recruiter-table th {
  background-color: #011F82;
  color: #ffffff;
  text-align: left;
  padding: 10px;
  font-weight: bold;
}

.recruiter-table td {
  padding: 10px;
  border: 1px solid #dddddd;
}

.recruiter-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.recruiter-table tr:hover {
  background-color: #e6f2ff;
}

/* Thông báo không có dữ liệu */
.no-data {
  text-align: center;
  font-size: 1.2rem;
  color: #6D92D0;
  margin-top: 20px;
}
